<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tu Tienda de Productos</title>
    </head>
    <body>
        <header>
            <h1>Mi Tienda de Productos</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {{{body}}} {{!-- vistas especificas --}}
        </main>

        <footer>
            &copy; 2023 Mi Tienda de Productos
        </footer>
    </body>
    </html>